body{
    background: var(--bg-color);
}
.ui.fluid.form{
    background-color: var(--bg-color) !important;
    color:var(--text-color);
}
.ui.segment{
    background: var(--main-color);
}
.letter-button {
    background-color: #21ba45;
    margin-right: 20px;
    margin-left: 20px;
}
footer{
    display: flex;
    flex-direction: row-reverse;
}
.custom_styles{
    display:flex;
    flex-direction: column;
}
svg g {
    stroke:var(--main-color);
}
.letter {
    width: 25px;
    height: 25px;
    background: #21ba45;
    color: #fff;
    border-radius: 3px;
    text-align: center;
}

.letter.disabled {
    opacity: 0.4;
    pointer-events: none;
}

del {
    font-size: 16px;
}
h1,h2,label,legend{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color:var(--main-color) !important;
}
h1.ui.header,
h2,
#controlButtons {
    text-align: center;
}

#title{
    font-size: 2em;
}

#controlButtons {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#buttons{
    display: block;
    margin: auto;
}

svg{
    display: block;
    margin: auto;
}

#category{
    display: none;
}

#ShowMe, #mainFrame{
    display: none;
}

#letters{
    width:500px; 
    margin: 10px auto;
}


#easy,#medium,#hard,.letter,.letter-button {
    color:var(--bg-color);
    background-color:var(--main-color);
}
.letter:hover:not(.disabled),
.letter:hover:not(.disabled) > .letter-button {
    background: var(--sub-color);
    cursor: pointer;
}
.ui.form select{
    background: var(--bg-color);
    color:var(--main-color);
    border:1px solid var(--main-color);
}

fieldset{
    display: inline-block;
    border:0;
}